body{
    background-image : url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.h1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
}
.h2{
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: white;
    width: 400px;
    height:60px;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    
}
.whiteback{
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}
.h3{
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.first{
    grid-column-start: 1;
    background-color:#25975A;
    width: 100px;
    height:40px;
    justify-self: center;
    align-self: center;
}
.second{
    grid-column-start: 2;
    background-color:#25975A;
    width: 100px;
    height:40px;
    justify-self: center;
    align-self: center;

}
.third{
    grid-column-start: 3;
    background-color:#25975A;
    width: 100px;
    height:40px;
    justify-self: center;
    align-self: center;
    
}
.gpa{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
}
